---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link href="/themes/prism.css" rel="stylesheet" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />
    <main>
      <div class="w-full mx-auto text-white opacity-80">
        <div class="flex items-center flex-col">
          <div class="max-w-2xl w-full">
            <div class="mb-8 flex gap-2 flex-col">
              <h1 class="text-6xl font-bold">{title}</h1>
              <p class="text-2xl opacity-50">{description}</p>
              <FormattedDate date={pubDate} />
            </div>
            <div class="flex flex-col gap-4 text-lg"><slot /></div>
          </div>
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
